@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  background-color: #12372A;
  overflow:hidden
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
}